<!DOCTYPE html>
<html lang="en-US">
  <head>
    <style>
      background1 {
        border: 2px solid black;
        padding: 25px;
        background: url(https://unsplash.com/photos/UiiHVEyxtyA);
        background-repeat: no-repeat;
        background-size: 300px 100px;
      }
      h1 {
        border-bottom: 5px solid red;
      }
      table, td, th {
        border: 1px solid black;
      }
    </style>
    <meta charset="utf-8">
    <title>Futbol Stat Displayer</title>
  </head>

  <body>
  <div id="background1">
    <h1>FUTBOL GROUP PROJECT WEBSITE</h1>
  </div>
    League-wide Statistics
    <p>Highest Total Score = <%= stat_tracker.highest_total_score %></p>

    <p>Lowest Total Score = <%= stat_tracker.lowest_total_score %></p>

    <p>Percentage Home Wins = <%= stat_tracker.percentage_home_wins %></p>
    
    <p>Percentage Visitor Wins = <%= stat_tracker.percentage_visitor_wins %>
    </p>
    
    <p>Percentage Ties = <%= stat_tracker.percentage_ties %></p>

    <p>Average Goals Per Game = <%= stat_tracker.average_goals_per_game %></p>

    <p>
    Average Goals by Season <br><br>
    <% stat_tracker.average_goals_by_season.each do |season, average| %>
    <%= "#{season[0..3]}-#{season[-4..-1]} = #{average}" %> <br>
    <% end %>
    </p>

    Count of Games by Season <br><br>
    <% stat_tracker.count_of_games_by_season.each do |season, games| %>
    <%= "#{season[0..3]}-#{season[-4..-1]} = #{games}" %> <br><br>
    <% end %>

    Count of Teams = <%= stat_tracker.count_of_teams %> <br> <br>
    Best Offense = <%= stat_tracker.best_offense %> <br> <br>
    Worst Offense = <%= stat_tracker.worst_offense %> <br> <br>
    Highest Scoring Visitor = <%= stat_tracker.highest_scoring_visitor %> <br> <br>
    Lowest Scoring Visitor = <%= stat_tracker.lowest_scoring_visitor %> <br> <br><br>
  
<h2>Season Statistics</h2> <br><br>
 <table>
  <tr>
    <th>Season  </th>
    <th>  Winningest Coach  </th>
    <th>  Worst Coach  </th>
    <th>  Least Accurate Team  </th>
    <th>  Most Accurate Team  </th>
    <th>  Most Tackles  </th>
    <th>  Fewest Tackles  </th>
  </tr>
  <tr>
    <% stat_tracker.seasons.each do |season| %>
      <td><%= "#{season[0..3]}-#{season[-4..-1]}" %> </td>
      <td><%= stat_tracker.winningest_coach("20122013")%></td>
      <td><%= stat_tracker.worst_coach("20122013")%></td>
      <td><%= stat_tracker.most_accurate_team("20122013")%></td>
      <td><%= stat_tracker.least_accurate_team("20122013")%></td>
      <td><%= stat_tracker.most_tackles("20122013")%></td>
      <td><%= stat_tracker.fewest_tackles("20122013")%></td>
  </tr>
    <% end %>
</table><br><br>

<h2> Team Info Table </h2>
<table>
  <tr>
    <th> Team </th>
    <th> Abbrev. </th>
    <th> Team ID </th>
    <th> Franchise ID </th>
    <th> Website </th>
  </tr>
  <% stat_tracker.team_ids.each do |team| %>
  <tr>
    <td><%= stat_tracker.team_info(team)["teamname"]%></td>
    <td><%= stat_tracker.team_info(team)["abbreviation"]%></td>
    <td><%= stat_tracker.team_info(team)["team_id"]%></td>
    <td><%= stat_tracker.team_info(team)["franchise_id"]%></td>
    <td><%= stat_tracker.team_info(team)["link"]%></td>
  </tr>
  <% end %>
</table>

<h2> Team Statistics Table </h2>
<table>
  <tr>
    <th> Team </th>
    <th> Best Season </th>
    <th> Worst Season </th>
    <th> Most Goals Scored </th>
    <th> Fewest Goals Scored </th>
    <th> Avg. Win % </th>
    <th> Favorite Opponent </th>
    <th> Rival </th>
  </tr>
  <% stat_tracker.team_ids.each do |team| %>
  <tr>
    <td><%= stat_tracker.team_info(team)["teamname"]%></td>
    <td><%= stat_tracker.best_season(team)%></td>
    <td><%= stat_tracker.worst_season(team)%></td>
    <td><%= stat_tracker.most_goals_scored(team)%></td>
    <td><%= stat_tracker.fewest_goals_scored(team)%></td>
    <td><%= stat_tracker.average_win_percentage(team)%></td>
    <td><%= stat_tracker.favorite_opponent(team)%></td>
    <td><%= stat_tracker.rival(team)%></td>
  </tr>
  <% end %>
</table>

  </body>
</html>